.Rectangle-25 {
    height: 70px;
    background-color: #f5f5fc;
    margin-top: 175px;

}
.Rectangle-judges {
    width: 183px;
    height: 236px;
    background-color: #f5f5fc;
    border: solid 1.5px rgba(0, 0, 0, 0.07);
    margin-left: 115px;
    position: absolute;
}
.Judges-Rate {
    width: 81px;
    height: 56px;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.17;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-left: 51px;
    margin-top: 28px;

}
.layer {
    width: 111px;
    height: 121px;
    font-family: Titillium Web;
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    margin-top: 0px;
    margin-left: 32px;

}

.separatingline {
    width: 2px;
    height: 235.5px;
    opacity: 0.5;
    background-color: #d5dae6;
    margin-left: 316px;
    position: absolute;

}

.People-Rate {
    width: 145px;
    height: 36px;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin-left: 340px;
    margin-top: 24px;
    position: absolute;
}

.People-Rate-number {
    width: 145px;
    height: 36px;


    margin-left: 340px;
    margin-top: 100px;
    position: absolute;
}

.People-Rate-number-text {

    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    color: #000000;
    text-transform: uppercase;

}
.Participants {
    width: 74px;
    height: 21px;
    opacity: 0.5;
    font-family: Titillium Web;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-left: 338px;
    margin-top: 136px;
    position: absolute;

}

.Rectangle-average {
    width: 148px;
    height: 180px;
    background-color: #004eff;
    /*box-shadow: 6px 5px 0px rgba(28, 1, 255, 0.45);*/
    box-shadow: -13px 43px 0px 0px #6e75ff;
    float: right;
    margin-right: 35px;
}

.Average-text {
    margin-top: 40px;
    margin-left: 48px;
    width: 71px;
    height: 31px;
    font-family: Titillium Web;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

.Average-number {
    width: 111px;
    height: 121px;
    font-family: Titillium Web;
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 20px;

}