

@media screen and (min-width: 1480px) {
  .nominees-container-mid {
    width: 70%;
    margin-left: -120px;
  }
  .nominees-container-right {
    width: 30%;
  }
}

@media screen and (max-width: 1480px) {
  .nominees-container-mid {
  }
  .nominees-container-right {
  }
}
