body {
  padding-top: 51px;
  padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  /*margin-bottom: 20px;*/
}

.theme-showcase > p > .btn {
  /*margin: 5px 0;*/
}

.theme-showcase .navbar .container {
  width: auto;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
.fullheight {
    height: 100vh;
}
.remove-pading {
  padding-left: 0;
  padding-right: 0;
}

.titillium {
  font-family: 'Titillium Web', sans-serif;
}
.titillium-black {
  font-family: 'Titillium Web', sans-serif; 
  font-weight: 900;
  font-style: normal;
}

/*.one-page-height {
  min-height: 70vh;
}*/
.nominee-block {
  /*min-height: 65vh;*/
  padding-top: 10px;
}
.nominee-intro {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.81);
  box-shadow: -10px -10px 0px rgba(255, 44, 0, 0.27);
  min-height: 310px;
}

.nominee-intro-padding {
  padding-left: 10px;
  padding-top: 30px;
}

.nominee-cate-img {
  max-width: 100%;
}

.nominee-title {
  color: white;
  padding: 15px;
  width: 290px;
  text-align: center;
  background-color: rgba(255, 44, 0, 0.9);
  box-shadow: 6px 5px 0px rgba(255, 54, 78, 0.45);
}

.nominee-cate-title {
  color: white;
  padding: 2px;
  text-align: left;
  background-color: #9012fe;
  font-size: 12px;
}

.promo-home-section {
  background-image: url("file:///Users/xiong/Desktop/wtva-proto/assets/img/promo-home-background.jpg");
  background-size: cover;
  background-position: center center;
  margin-top: -75px;
}

.promo-title {
  color: white;
  padding: 15px;
  width: 300px;
  text-align: center;
  background-color: rgba(28, 1, 255, 0.90);
  box-shadow: 6px 5px 0px rgba(110, 117, 255, 0.90);
  margin-left: -220px;
  margin-bottom: -100px;
  z-index: 999;
  position: relative;
}
.promo-title-sm {
  color: white;
  padding: 15px;
  width: 300px;
  text-align: center;
  background-color: rgba(28, 1, 255, 0.90);
  box-shadow: 6px 5px 0px rgba(110, 117, 255, 0.90);
}
.promo-home-container {
  padding-top: 150px;
  padding-bottom: 100px;
}
.promo-upload {
  color: white;
  padding: 15px;
  width: 300px;
  text-align: center;
  background-color: rgba(254, 62, 62, 0.9);
  box-shadow: 6px 5px 0px rgba(254, 62, 62, 0.40);
  z-index: 999;
  position: relative;
  cursor: pointer;
  margin-top: -10px;

}

.social-title {
  color: white;
  padding: 15px;
  width: 300px;
  text-align: center;
  background-color: rgba(255, 44, 0, 0.90);
  box-shadow: 6px 5px 0px rgba(255, 44, 0, 0.45);
}

/*.carousel.vertical .active {*/
  /*top: 0;*/
/*}*/

/*.carousel.vertical .next {*/
  /*top: 400px;*/
/*}*/

/*.carousel.vertical .prev {*/
  /*top: -400px;*/
/*}*/

/*.carousel.vertical .next.left,*/
/*.carousel.vertical .prev.right {*/
  /*top: 0;*/
/*}*/

/*.carousel.vertical .active.left {*/
  /*top: -400px;*/
/*}*/

/*.carousel.vertical .active.right {*/
  /*top: 400px;*/
/*}*/

/*.carousel.vertical .item {*/
  /*left: 0;*/
/*}*/